<div class="container mt-4">
  <!-- Contadores de órdenes -->
  <div class="d-flex align-items-center justify-content-end mb-1 gap-2">
    <div class="badge bg-success text-white p-3">
      3 work orders<br /><small>My work orders</small>
    </div>
    <div class="badge bg-danger text-white p-3">
      6 work orders<br /><small>Urgent</small>
    </div>
    <div class="badge bg-warning text-white p-3">
      9 work orders<br /><small>Overdue</small>
    </div>
    <div class="badge bg-info text-white p-3">
      32 statuses<br /><small>Overdue</small>
    </div>
    <div class="ms-auto mat-card bg-dark bg-gradient text-white text-end">
      <h6 class="m-0">Receivables</h6>
      <span class="fs-6">$ 2,109.75</span>
    </div>
  </div>

  <!-- Tabla y filtros -->
  <mat-card class="p-2">
    <app-option-for-principal-table
      [filterFunction]="filteredFunction"
      [btnAdd]="{
        route: '/clienti/nuovo',
        label: 'Nuovo Cliente',
        icon: 'group_add'
      }"
    ></app-option-for-principal-table>

    <app-table
      [dataSource]="dataSource"
      [displayedColumns]="displayedColumns"
    ></app-table>
  </mat-card>
</div>
