<section class="d-flex flex-column justify-content-between h-100 small">
  <!-- Resumen -->
  <section class="d-flex flex-column gap-2">
    <!-- Resumen General -->
    <app-general></app-general>
    <!-- Resumen Ganancias -->
    <app-ganancias></app-ganancias>
    <!-- Resumen Gastos -->
    <app-gastos></app-gastos>
    <!-- Estadísticas -->
    <app-estadisticas></app-estadisticas>
  </section>

  <!-- filter -->
  <div class="d-flex justify-content-between align-items-center gap-1 mt-4">
    <span class="fw-bold text-secondary small">{{
      "este mes" | uppercase
    }}</span>
    <button mat-icon-button class="text-secondary">
      <mat-icon>filter_alt</mat-icon>
    </button>
  </div>
</section>
