<div class="d-flex flex-column gap-2">
  <button
    mat-button
    title="ver detalles de ganancias"
    class="d-flex justify-content-center align-items-center gap-1 small fw-bold text-secondary shadow-sm bg-light rounded-1 p-1 text-center"
  >
    <span>{{ "ganancias" | uppercase }}</span>
    <mat-icon class="">visibility</mat-icon>
  </button>
  <div class="d-flex justify-content-between text-secondary">
    <span class="fw-bold">{{ "productos:" | titlecase }}</span>
    <span class="fw-bold">{{ "1876" | currency : "USD" }}</span>
  </div>

  <div class="d-flex justify-content-between text-secondary">
    <span class="fw-bold">{{ "servicios:" | titlecase }}</span>
    <span class="fw-bold">{{ "214" | currency : "USD" }}</span>
  </div>

  <div class="d-flex justify-content-between text-secondary">
    <span class="fw-bold">{{ "otros:" | titlecase }}</span>
    <span class="fw-bold">{{ "50" | currency : "USD" }}</span>
  </div>
</div>
