<div class="d-flex flex-column gap-2">
  <button
    mat-button
    title="ver detalles de estadísticas"
    class="d-flex justify-content-center align-items-center gap-1 small fw-bold text-secondary shadow-sm bg-light rounded-1 p-1 text-center"
  >
    <span>{{ "estadísticas" | uppercase }}</span>
    <mat-icon class="">visibility</mat-icon>
  </button>
  <div class="d-flex justify-content-between align-items-center text-secondary">
    <span class="fw-medium">{{ "mejor venta:" | titlecase }}</span>
    <span class="fw-medium">{{ "4000" | currency : "USD" }}</span>
  </div>

  <div class="d-flex justify-content-between align-items-center text-secondary">
    <span class="fw-medium">{{ "peor venta:" | titlecase }}</span>

    <span class="fw-medium">{{ "1290" | currency : "USD" }}</span>
  </div>
</div>
