.report-card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.report-section {
  min-width: 250px;
  flex: 1;
  background: #ffffff;
}

@media (max-width: 992px) {
  .report-card {
    flex-direction: column;
  }
}
