<section class="principal-box">
  <!-- Insumos -->
  <div class="insumos-box d-flex flex-column gap-2 small">
    <h6
      class="w-100 fw-bold text-secondary shadow-sm small bg-light rounded-1 p-1 text-center"
    >
      {{ "insumos seguidos" | titlecase }}
    </h6>
    <div class="d-flex flex-column gap-1">
      <div class="d-flex justify-content-between text-secondary">
        <h6 class="fw-bold small">{{ "hojas" | titlecase }}</h6>
        <h6 class="fw-bold small">{{ 10 | unit : "u/h" }}</h6>
      </div>
      <div class="d-flex justify-content-between text-secondary">
        <h6 class="fw-bold small">{{ "tinta" | titlecase }}</h6>
        <h6 class="fw-bold small">{{ 0.1 | percent }}</h6>
      </div>
      <div class="d-flex justify-content-between text-secondary">
        <h6 class="fw-bold small">{{ "papel foto" | titlecase }}</h6>
        <h6 class="fw-bold small">{{ 9 | unit : "u/h" }}</h6>
      </div>
      <div class="d-flex justify-content-between text-secondary">
        <h6 class="fw-bold small">{{ "papel plasticar" | titlecase }}</h6>
        <h6 class="fw-bold small">{{ 17 | unit : "u/h" }}</h6>
      </div>
    </div>
  </div>
  <!-- Productos -->
  <div class="productos-box d-flex flex-column gap-2 small">
    <h6
      class="w-100 fw-bold text-secondary shadow-sm small bg-light rounded-1 p-1 text-center"
    >
      {{ "productos seguidos" | titlecase }}
    </h6>
    <div class="d-flex flex-column gap-1">
      <div class="d-flex justify-content-between text-secondary">
        <h6 class="fw-bold small">{{ "fosforeras" | titlecase }}</h6>
        <h6 class="fw-bold small">{{ 10 | unit : "~p/dia" }}</h6>
      </div>
      <div class="d-flex justify-content-between text-secondary">
        <h6 class="fw-bold small">{{ "h-hupman" | titlecase }}</h6>
        <h6 class="fw-bold small">{{ 14 | unit : "~p/dia" }}</h6>
      </div>
      <div class="d-flex justify-content-between text-secondary">
        <h6 class="fw-bold small">{{ "memorias" | titlecase }}</h6>
        <h6 class="fw-bold small">{{ 0.5 | unit : "~p/dia" }}</h6>
      </div>
      <div class="d-flex justify-content-between text-secondary">
        <h6 class="fw-bold small">{{ "cables usb" | titlecase }}</h6>
        <h6 class="fw-bold small">{{ 0.5 | unit : "~p/dia" }}</h6>
      </div>
    </div>
  </div>
</section>
