<section class="principal-box">
  <!-- Empleados destacados -->
  <div class="d-flex flex-column gap-1 align-items-start small">
    <h6
      class="w-100 fw-bold text-secondary shadow-sm small bg-light rounded-1 p-1 text-center"
    >
      Empleado Destacado
    </h6>
    <span class="text-muted">Juan Pérez</span>
    <span class="fw-bold">Ingresos generados:</span>
    <span class="text-muted">$12,340</span>
  </div>

  <!-- Turnos activos -->

  <ul class="list-group list-group-flush small">
    <h6
      class="w-100 fw-bold text-secondary shadow-sm small bg-light rounded-1 p-1 text-center"
    >
      Turno de la jornada
    </h6>
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      Ana Gómez <span class="badge bg-success">Activo</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      Pedro López <span class="badge bg-success">Activo</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      Laura García <span class="badge bg-success">Activo</span>
    </li>
  </ul>

  <!-- Horas trabajadas -->
  <div class="table-responsive small">
    <h6
      class="w-100 fw-bold text-secondary shadow-sm small bg-light rounded-1 p-1 text-center"
    >
      Empleados con mas horas trabajadas
    </h6>
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th>Empleado</th>
          <th>Horas esta semana</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Juan Pérez</td>
          <td>30</td>
        </tr>
        <tr>
          <td>Ana Gómez</td>
          <td>36</td>
        </tr>
        <tr>
          <td>Pedro López</td>
          <td>20</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
