<section class="principal-box">
  <!-- Empleados destacados -->
  <div class="d-flex flex-column gap-1 align-items-start fw-bold small">
    <h6
      class="w-100 fw-bold text-secondary shadow-sm small bg-light rounded-1 p-1 text-center"
    >
      {{ "empleados destacados" | titlecase }}
    </h6>
    <span class="text-success opacity-75">Juan Pérez</span>
    <span class="fw-bold text-secondary">Ingresos generados:</span>
    <span class="text-success opacity-75">$12,340</span>
  </div>

  <!-- Turnos activos -->

  <ul class="list-group list-group-flush small fw-bold">
    <h6
      class="w-100 fw-bold text-secondary shadow-sm small bg-light rounded-1 p-1 text-center"
    >
      {{ "turnos jornada" | titlecase }}
    </h6>
    <li
      class="list-group-item d-flex justify-content-between small text-secondary align-items-center"
    >
      Ana Gómez <span class="badge bg-success">Activo</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-between small text-secondary align-items-center"
    >
      Pedro López <span class="badge bg-success">Activo</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-between small text-secondary align-items-center"
    >
      Laura García <span class="badge bg-success">Activo</span>
    </li>
  </ul>

  <!-- Horas trabajadas -->
  <div class="table-responsive small">
    <h6
      class="w-100 fw-bold text-secondary shadow-sm small bg-light rounded-1 p-1 text-center"
    >
      {{ "empleados con mas horas trabajadas" | titlecase }}
    </h6>
    <table class="table table-sm table-striped small">
      <thead>
        <tr>
          <th class="text-dark">Empleado</th>
          <th class="text-dark">Horas esta semana</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-secondary fw-bold">Juan Pérez</td>
          <td class="text-secondary fw-bold">30</td>
        </tr>
        <tr>
          <td class="text-secondary fw-bold">Ana Gómez</td>
          <td class="text-secondary fw-bold">36</td>
        </tr>
        <tr>
          <td class="text-secondary fw-bold">Pedro López</td>
          <td class="text-secondary fw-bold">20</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
