<div
  class="d-flex flex-wrap-reverse align-items-center justify-content-lg-start gap-3"
>
  <!-- Botón de Nuevo Cliente -->
  <button
    [routerLink]="btnAdd.route"
    class="btn btn-dark d-flex align-items-center bg-gradient gap-1"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="Icona di ricerca"
      [fontIcon]="btnAdd.icon || 'add'"
    ></mat-icon>
    <span class="">{{ btnAdd.label }}</span>
  </button>
  <!-- Botón de Filtro -->
  <button
    (click)="toggle()"
    class="btn border-dark d-flex align-items-center gap-1"
  >
    <mat-icon
      class="text-dark"
      aria-hidden="false"
      aria-label="Icona di ricerca"
      fontIcon="filter_list"
    ></mat-icon>
    <span class="text-dark">Filter</span>
  </button>
  <!-- Barra de búsqueda -->
  <div class="flex-grow-1 flex-md-grow-0">
    <div class="w-100 w-md-40 d-flex gap-2 align-items-center">
      <input
        type="search"
        placeholder="Cercare..."
        class="form-control border-3 border-white shadow-sm rounded-start"
        (keyup.enter)="filterFunction(filter.value)"
        #filter
      />
      <button
        class="rounded btn bg-dark d-flex align-items-center bg-gradient"
        (click)="filterFunction(filter.value)"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Icona di ricerca"
          fontIcon="search"
          class="text-white cursor-pointer"
        ></mat-icon>
      </button>
    </div>
  </div>
</div>

<div *ngIf="viewFilters" class="my-3">
  <ng-content select=".filters"></ng-content>
</div>
