<div class="d-flex flex-column align-items-center min-vh-100 bg-light">
  <div class="position-relative w-100" style="max-width: 400px">
    <!-- Contenedor principal -->
    <div class="bg-white rounded-3 shadow p-4">
      <h2 class="text-center text-secondary mb-4">Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Email -->
        <div class="mb-3">
          <app-custom-input
            [control]="loginForm.get('email')"
            label="Email"
            type="email"
            placeholder="Correo electrónico"
            errorMessage="El email es requerido"
          />
        </div>
        <!-- Contraseña -->
        <div class="mb-3">
          <app-custom-input
            [control]="loginForm.get('password')"
            label="Contraseña"
            type="password"
            placeholder="Contraseña"
            errorMessage="La contraseña es requerida"
          />
        </div>
        <!-- Recuerdame y Olvidó contraseña -->
        <div class="d-flex justify-content-between align-items-center mb-3">
          <div class="form-check">
            <input type="checkbox" id="remember_me" class="form-check-input" />
            <label for="remember_me" class="form-check-label">Recuérdame</label>
          </div>
          <a href="#" class="text-decoration-none text-primary"
            >¿Olvidó su contraseña?</a
          >
        </div>
        <!-- Botón Login -->
        <div class="mb-3">
          <button
            type="submit"
            class="btn btn-primary w-100 py-2 rounded-3 shadow"
            [disabled]="loginForm.invalid"
          >
            Login
          </button>
        </div>
        <!-- Separador -->
        <div class="d-flex align-items-center my-4">
          <hr class="w-100" />
          <span class="mx-2 text-muted text-center">Accede con</span>
          <hr class="w-100" />
        </div>
        <!-- Botones sociales -->
        <div class="d-flex justify-content-center gap-2">
          <button type="button" class="btn btn-primary rounded-3 shadow-sm">
            Facebook
          </button>
          <button type="button" class="btn btn-danger rounded-3 shadow-sm">
            Google
          </button>
        </div>
        <!-- Crear cuenta -->
        <div class="text-center mt-4">
          <span>¿Eres nuevo?</span>
          <a href="#" class="text-decoration-none text-primary"
            >Crea una cuenta</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
