<div class="row">
  <!-- Ventas -->
  <app-card
    class="col-12 col-lg-6 mb-4"
    title="Resumen de Ventas"
    background="#00184A"
    colorText="#fff"
  >
    <p class="text-muted">Añade aquí un componente para mostrar las ventas.</p>
  </app-card>

  <!-- Inventario -->
  <app-card
    class="col-12 col-lg-6 mb-4"
    title="Estado del Inventario"
    background="#FF6600"
    colorText="#fff"
  >
    <p class="text-muted">
      Añade aquí un componente para mostrar el inventario.
    </p>
  </app-card>

  <!-- Empleados -->
  <app-card
    class="col-12 col-lg-4 mb-4"
    title="Empleados"
    background="#6C757D"
    colorText="#fff"
  >
    <p class="text-muted">
      Añade aquí un componente para mostrar la información de los empleados.
    </p>
  </app-card>

  <!-- Clientes -->
  <app-card
    class="col-12 col-lg-4 mb-4"
    title="Clientes"
    background="#6C757D"
    colorText="#fff"
  >
    <p class="text-muted">
      Añade aquí un componente para mostrar la información de los clientes.
    </p>
  </app-card>

  <!-- Tienda -->
  <app-card
    class="col-12 col-lg-4 mb-4"
    title="Tienda"
    background="#6C757D"
    colorText="#fff"
  >
    <p class="text-muted">
      Añade aquí un componente para mostrar la información de la tienda.
    </p>
  </app-card>

  <!-- Reportes -->
  <app-card
    class="col-12 col-lg-12 mb-4"
    title="Reportes"
    background="#6C757D"
    colorText="#fff"
  >
    <p class="text-muted">
      Añade aquí un componente para mostrar la información de los reportes.
    </p>
  </app-card>
</div>
