<section class="card-box">
  <!-- Ventas -->
  <app-card
    class="card-sales"
    title="Resumen de Ventas"
    background="#272B2F"
    colorText="#fff"
  >
    <app-sales-resume class="w-100 h-100" />
  </app-card>

  <!-- Inventario -->
  <app-card
    class="card-inventory"
    title="Estado del Inventario"
    background="#FF6600"
    colorText="#fff"
  >
    <app-inventory-resume class="w-100 h-100" />
  </app-card>

  <!-- Empleados -->
  <app-card
    class="card-employees"
    title="Empleados"
    background="#6C757D"
    colorText="#fff"
  >
    <p class="text-muted">
      Añade aquí un componente para mostrar la información de los empleados.
    </p>
  </app-card>

  <!-- Clientes -->
  <app-card
    class="card-clients"
    title="Clientes"
    background="#6C757D"
    colorText="#fff"
  >
    <p class="text-muted">
      Añade aquí un componente para mostrar la información de los clientes.
    </p>
  </app-card>

  <!-- Tienda -->
  <app-card
    class="card-store"
    title="Tienda"
    background="#6C757D"
    colorText="#fff"
  >
    <p class="text-muted">
      Añade aquí un componente para mostrar la información de la tienda.
    </p>
  </app-card>

  <!-- Reportes -->
  <app-card
    class="card-reports"
    title="Reportes"
    background="#6C757D"
    colorText="#fff"
  >
    <p class="text-muted">
      Añade aquí un componente para mostrar la información de los reportes.
    </p>
  </app-card>
</section>
