mat-drawer {
  max-width: 300px;
}

.main-section {
  min-height: 100vh;
}

.content-section {
  min-height: calc(100vh - 4rem);
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2rem;
}

.menu-section {
  height: 4rem;
}

.layout-container {
  width: 100vw;
  height: 100vh;
}

.btn-toggle-sidebar {
  display: none;
}

@media (max-width: 768px) {
  .btn-toggle-sidebar {
    display: block;
  }
}
