<div class="d-flex flex-column gap-2">
  <h6
    class="small fw-bold text-secondary shadow-sm bg-light rounded-1 p-1 text-center"
  >
    {{ "estadísticas" | uppercase }}
  </h6>
  <div class="d-flex justify-content-between align-items-center text-secondary">
    <span class="fw-bold">{{ "mejor venta:" | titlecase }}</span>
    <span class="fw-bold">{{ "4000" | currency : "USD" }}</span>
  </div>

  <div class="d-flex justify-content-between align-items-center text-secondary">
    <span class="fw-bold">{{ "peor venta:" | titlecase }}</span>

    <span class="fw-bold">{{ "1290" | currency : "USD" }}</span>
  </div>
</div>
