<div class="container">
  <div class="row">
    <div
      class="col d-flex flex-column justify-content-center align-items-center my-3"
    >
      <img
        src="https://img.freepik.com/free-vector/404-error-with-landscape-concept-illustration_114360-7898.jpg"
        alt="NotFound"
      />
      <h2>Página no encontrada</h2>
      <p>La Página que estas buscando no se encuentra disponible</p>
      <button mat-button (click)="goBack()">Volver al Inicio</button>
    </div>
  </div>
</div>
