<section class="">
  <!-- Resumen -->
  <div class="d-flex flex-column gap-1 mb-1">
    <div class="d-flex justify-content-between text-secondary">
      <span class="fw-bold fs-5">{{ "total:" | titlecase }}</span>
      <span class="fw-bold fs-5">{{ "4000" | currency : "USD" }}</span>
    </div>

    <div class="d-flex justify-content-between">
      <span class="fw-bold text-danger">{{ "gastos:" | titlecase }}</span>
      <span class="fw-bold text-danger">{{ "1042" | currency : "USD" }}</span>
    </div>

    <div class="d-flex justify-content-between text-success">
      <span class="fw-bold">{{ "neto:" | titlecase }}</span>
      <span class="fw-bold">{{ "2958" | currency : "USD" }}</span>
    </div>
  </div>
  <hr />
</section>
